* {
	box-sizing: border-box;
}

body {
	margin-top: 300px;
}

h1 {
	color: rgb(209, 212, 33);
	text-align: center;
	font-size: 100px;
	background-image: url('/resources/pattern.webp');
	font-weight: bold;
	position: fixed;
	z-index: 0;
	top: 0px;
}

.Brushes {
	display: inline-block;
}

.Brushes img:hover {
	transform: 1s;
	width: 50px;
}

.Brushes h3 {
	background-color: beige;
}
